# BÀI TẬP

## Kiểm định đặc trưng tỉ lệ (p)

### Bài 1

Dataset 18 (__M&M__) chứa thông tin trọng lượng và màu sắc của mẫu các viên kẹo của hãng M&M. 

Sử dụng mẫu trên bạn hãy kiểm tra phát biểu sau: __"20% kẹo M&M có màu đỏ"__ với mức ý nghĩa là 5%

*Hướng dẫn: tính tỷ lệ các viên kẹo có màu đỏ từ dữ liệu, sử dụng kết quả để kiểm định phát biểu trên*

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st

C:\Users\ACER\AppData\Local\Temp\ipykernel_14816\426100267.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [10]:
data18 = pd.read_excel('./data2/18_M_M.xls')
data18.head()

     Red  Orange  Yellow  Brown   Blue  Green
0  0.751   0.735   0.883  0.696  0.881  0.925
1  0.841   0.895   0.769  0.876  0.863  0.914
2  0.856   0.865   0.859  0.855  0.775  0.881
3  0.799   0.864   0.784  0.806  0.854  0.865
4  0.966   0.852   0.824  0.840  0.810  0.865

In [33]:
# Số kẹo màu đỏ
sum_red = data18['Red'].count()
# Tổng số kẹo
total = data18['Red'].count() + data18['Blue'].count() + data18['Green'].count() + data18['Yellow'].count() + data18['Orange'].count() + data18['Brown'].count()
# Tỷ lệ số kẹo màu đỏ
rate_red = (sum_red/total).round(2)
print('Tỷ lệ số kẹo màu đỏ:', rate_red)
# Mức ý nghĩa
alpha = 0.05
po = 20/100
# Tính giá trị tới hạn để xác định miền bác bỏ
z = st.norm.isf(alpha/2).round(2)
print('Giá trị tới hạn:', z)
# Tính trị số kiểm định
tri_kiem_dinh = ((rate_red - po) / np.sqrt((po*(1-po))/total)).round(2)
print('Trị số kiểm định:', tri_kiem_dinh)

Tỷ lệ số kẹo màu đỏ: 0.13
Giá trị tới hạn: 1.96
Trị số kiểm định: -1.75

### Bài 2

Dataset 3 (__FRESH15__) chứa thông tin khảo sát những thay đổi về trọng lượng (weight - WT) và chỉ số khối của cơ thể (BMI) của sinh viên năm nhất tại một trường Đại Học. Thời điểm khảo sát là bắt đầu học kỳ (tháng 9 - SEP) và kết thúc học kỳ (tháng 4 - APR), các sinh viên được chọn ngẫu nhiên trong trường.

Sử dụng mẫu trên, hãy kiểm tra phát biểu:__"50% số sinh viên trong trường là nam"__ với mức ý nghĩa 50%

Các thuộc tính trong bộ dữ liệu:
- SEX: Giới tính
- WTSEP: trọng lượng đo vào tháng 9 (mới nhập học)
- WTAPR: trọng lượng đo vào tháng 4 (kết thúc năm học)
- BMISP: BMI tháng 9
- BMIAP: BMI tháng 4

In [54]:
data03 = pd.read_excel('./data2/03_FRESH15.xls')
data03.head()

  SEX  WTSEP  WTAPR  BMISP  BMIAP
0   M     72     59  22.02  18.14
1   M     97     86  19.70  17.44
2   M     74     69  24.09  22.43
3   M     93     88  26.97  25.57
4   F     68     64  21.51  20.10

Tóm tắt: 
- $p_o = 0.5$
- n = 67
- f = 0.48
- $\alpha = 0.5$

In [57]:
# Tính số lượng sinh viên nam
sum_nam = data03.loc[(data03['SEX'] == 'M')].value_counts().sum()
print('Số lượng sinh viên nam:', sum_nam)
# Tính tổng số lượng sinh viên
total = data03.value_counts().sum()
print('Tổng số lượng sinh viên:', total)
# Tỷ lệ sinh viên nam
rate_nam = (sum_nam/total).round(2)
print('Tỷ lệ sinh viên nam:', rate_nam)
# Mức ý nghĩa
alpha = 0.5
po = 0.5
# Tính giá trị tới hạn để xác định miền bác bỏ
z = st.norm.isf(alpha/2).round(2)
print('Giá trị tới hạn:', z)
# Tính trị số kiểm định
tri_kiem_dinh = ((rate_nam - po) / np.sqrt((po*(1-po))/total)).round(2)
print('Trị số kiểm định:', tri_kiem_dinh)

Số lượng sinh viên nam: 32
Tổng số lượng sinh viên: 67
Tỷ lệ sinh viên nam: 0.48
Giá trị tới hạn: 0.67
Trị số kiểm định: -0.33

### Bài 3

Dataset 6(__BEARS__) chứa thông tin khảo sát ngẫu nhiên các con gấu trong một khu rừng.

Sử dụng mẫu trên, bạn hãy kiểm tra phát biểu: __"tỷ lệ gấu đực trong khu rừng là 50%""__ với mức ý nghĩa 90%.

Biết rằng thuộc tính SEX có hai giá trị: 1 - gấu đực, 2- gấu cái.

In [8]:
# Load data
data06 = pd.read_excel('./data2/06_BEARS.xls')
data06.head()

# Số lượng gấu đực
gau_duc = data06.loc[(data06['SEX'] == 1)].value_counts().sum()
print('Số lượng gấu đực:', gau_duc)

# Số lượng tổng thể
total = data06.value_counts().sum()
print('Số lượng tổng thể:', total)

# Tỷ lệ gấu đực
rate_gau_duc = (gau_duc/total).round(2)
print('Tỷ lệ gấu đực:', rate_gau_duc)

# Mức ý nghĩa
alpha = 0.9
po = 0.5

# Tính giá trị tới hạn để xác định miền bác bỏ
z = st.norm.isf(alpha/2).round(2)
print('Giá trị tới hạn:', z)

# Tính trị số kiểm định
tri_kiem_dinh = ((rate_gau_duc - po) / np.sqrt((po*(1-po))/total)).round(2)
print('Trị số kiểm định:', tri_kiem_dinh)

Số lượng gấu đực: 35
Số lượng tổng thể: 54
Tỷ lệ gấu đực: 0.65
Giá trị tới hạn: 0.13
Trị số kiểm định: 2.2

### Bài 4

Dataset 9 __(MOVIES)__ chứa thông tin khảo sát một số phim trong khoảng thời gian 33 năm gần đây.

Có ý kiến cho rằng: __"55% các phim trong khoảng thời gian 33 năm gần đây có nhãn R (là phim giới hạn độ tuổi - Restricted)"__ .Theo bạn với mức ý nghĩa 95% ý kiến trên có đúng không?

Tham khảo: [Hệ thống phân loại của hiệp hội điện ảnh Mỹ](https://vi.wikipedia.org/wiki/H%E1%BB%87_th%E1%BB%91ng_ph%C3%A2n_lo%E1%BA%A1i_phim_c%E1%BB%A7a_MPAA#Ph%C3%A2n_lo%E1%BA%A1i_v%E1%BB%9Bi_c%C3%A1c_trailer_phim)

In [5]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [9]:
data09 = pd.read_excel('./data2/09_MOVIES.xls')
data09.head()

               Title   MPAA  Budget  Gross  Length  Rating
0             8 Mile      R    41.0    117     110     6.7
1  Alone in the Dark      R    20.0      5      96     2.2
2            Aviator  PG-13   116.0    103     170     7.6
3           Big Fish  PG-13    70.0     66     125     8.0
4    Bourne Identity  PG-13    75.0    121     119     7.4

In [10]:
# Số lượng phim có MPAA là R
phim_R = data09.loc[(data09['MPAA'] == 'R')].value_counts().sum()
print('Số lượng phim có MPAA là R:', phim_R)

# Tổng số lượng phim
total = data09.value_counts().sum()
print('Tổng số lượng phim:', total)

# Tỷ lệ phim có MPAA là R
rate_phim_R = (phim_R/total).round(2)
print('Tỷ lệ phim có MPAA là R:', rate_phim_R)

# Mức ý nghĩa
alpha = 0.95
po = 0.55

# Tính giá trị tới hạn để xác định miền bác bỏ
z = st.norm.isf(alpha/2).round(2)
print('Giá trị tới hạn:', z)

# Tính trị số kiểm định
tri_kiem_dinh = ((rate_phim_R - po) / np.sqrt((po*(1-po))/total)).round(2)
print('Trị số kiểm định:', tri_kiem_dinh)

Số lượng phim có MPAA là R: 12
Tổng số lượng phim: 35
Tỷ lệ phim có MPAA là R: 0.34
Giá trị tới hạn: 0.06
Trị số kiểm định: -2.5

## Kiểm định đặc trưng kỳ vọng ($\mu$) biết ($\sigma$)

### Bài 5

Dataset 13 __(VOLTAGE)__ liệt kê các mức điện áp được đo tại các hộ gia đình bởi các máy đo khác nhau: tại nhà (HOME), tại máy phát độc lập (Generator), tại trạm phát (UPS).

Công ty cung cấp điện cho vùng này cam kết rằng: __"Mục tiêu cung cấp điện cho mỗi hộ gia đình là 120V"__ . Biết rằng độ lệch chuẩn của tất cả các mức điện áp đo được là 0.24V.

Với mức ý nghĩa 1%. Bạn hãy kiểm tra xem công ty có làm đúng cam kết hay không?

In [17]:
data13 = pd.read_excel('./data2/13_VOLTAGE.xls')
data13.head()

   Day   Home  Generator    UPS
0    1  123.8      124.8  123.1
1    2  123.9      124.3  123.1
2    3  123.9      125.2  123.6
3    4  123.3      124.5  123.6
4    5  123.4      125.1  123.6

In [49]:
# Giá trị trung bình cung cấp điện cho mỗi hộ gia đình
home_mean = data13['Home'].mean().round(2)
print('Giá trị trung bình cung cấp điện cho mỗi hộ gia đình:', home_mean)

# Số lượng hộ gia đình
total = data13['Home'].count()
print('Số lượng hộ gia đình:', total)

# Mức ý nghĩa
alpha = 0.01

# Độ lệch chuẩn
std = 0.24

# Giá trị tới hạn để xác định miền bác bỏ
t = st.t.isf(alpha/2, total-1).round(2)
print('Giá trị tới hạn:', t)

# Trị thống kê
tri_thong_ke = ((home_mean - 120) / (std/np.sqrt(total))).round(2)
print('Trị thống kê:', tri_thong_ke)

Giá trị trung bình cung cấp điện cho mỗi hộ gia đình: 123.66
Số lượng hộ gia đình: 40
Giá trị tới hạn: 2.71
Trị thống kê: 96.45

## Kiểm định đặc trưng kỳ vọng ($\mu$) không biết ($\sigma$)

### Bài 7

Dataset 19(__SCREWS__) chứa thông tin khảo sát chiều dài một số đinh ốc được cung cấp bởi công ty Crown Bolt (đơn vị inches)

Trên bao bì của các đinh ốc do công ty sản xuất có ghi chiều dài của các đinh ốc là 3/4 inches. Sử dụng mẫu trên bạn hãy cho biết chiều dài của đinh ốc lấy từ mẫu thu nhận được từ dữ liệu trên có nhất quán với chiều dài ghi trên bao bì hay không? Kiểm định với mức ý nghĩa 5%

In [40]:
data19 = pd.read_excel('./data2/19_SCREWS.xls', names=['Lenghts'], header=None)
data19.head()

   Lenghts
0    0.757
1    0.723
2    0.754
3    0.737
4    0.757

In [47]:
# Giá trị trung bình của chiều dài các đinh ốc
length_mean = data19['Lenghts'].mean().round(2)
print('Giá trị trung bình của chiều dài các đinh ốc:', length_mean)

# Số lượng đinh ốc
total = data19['Lenghts'].count()
print('Số lượng đinh ốc:', total)

# Mức ý nghĩa
alpha = 0.05

# Độ lệch chuẩn
std = data19['Lenghts'].std().round(2)
print('Độ lệch chuẩn:', std)

# Giá trị tới hạn để xác định miền bác bỏ
t = st.t.isf(alpha/2, total-1).round(2)
print('Giá trị tới hạn:', t)

# Trị thống kê
tri_thong_ke = ((length_mean - (0.75)) / (std/np.sqrt(total))).round(2)
print('Trị thống kê:', tri_thong_ke)

Giá trị trung bình của chiều dài các đinh ốc: 0.75
Số lượng đinh ốc: 50
Độ lệch chuẩn: 0.01
Giá trị tới hạn: 2.01
Trị thống kê: 0.0

### Bài 8

Dataset 13 __(VOLTAGE)__ liệt kê các mức điện áp được đo tại các hộ gia đình bởi các máy đo khác nhau: tại nhà (HOME), tại máy phát độc lập (Generator), tại trạm phát (UPS).

Công ty cung cấp điện cho vùng này cam kết rằng: __"Mục tiêu cung cấp điện cho mỗi hộ gia đình là 120V"__ .

Với mức ý nghĩa 1%. Bạn hãy kiểm tra xem công ty có làm đúng cam kết hay không?

   Day   Home  Generator    UPS
0    1  123.8      124.8  123.1
1    2  123.9      124.3  123.1
2    3  123.9      125.2  123.6
3    4  123.3      124.5  123.6
4    5  123.4      125.1  123.6

### Bài 9

Dataset 2 __(BODYTEMP)__ chứa thông tin khảo sát nhiệt độ cơ thể từ một nhóm người vào cùng một thời điểm lúc 12h trưa.

Có một phát biểu nói rằng, nhiệt độ cơ thể người đo lúc 12h trưa trong quần thể này là 98,6°

Dựa vào mẫu trên, bạn hãy cho biết phát biểu trên đúng hay sai ở mức ý nghĩa là 5%.

In [54]:
data02 = pd.read_excel('./data2/02_BODYTEMP.xls', names=['BodyTemp'], header=None)
data02.head()

   BodyTemp
0      98.6
1      98.6
2      98.0
3      98.0
4      99.0

In [56]:
mu = 98.6
alpha = 0.05

# Số lượng mẫu
total = data02['BodyTemp'].count()
print('Số lượng mẫu:', total)

# Giá trị trung bình nhiệt độ cơ thể
mean = data02['BodyTemp'].mean().round(2)
print('Giá trị trung bình nhiệt độ cơ thể:', mean)

# Độ lệch chuẩn
std = data02['BodyTemp'].std().round(2)
print('Độ lệch chuẩn:', std)

# Giá trị tới hạn để xác định miền bác bỏ
t = st.t.isf(alpha/2, total-1).round(2)
print('Giá trị tới hạn:', t)

# Trị thống kê
tri_thong_ke = ((mean - mu) / (std/np.sqrt(total))).round(2)
print('Trị thống kê:', tri_thong_ke)

Số lượng mẫu: 106
Giá trị trung bình nhiệt độ cơ thể: 98.2
Độ lệch chuẩn: 0.62
Giá trị tới hạn: 1.98
Trị thống kê: -6.64

### Bài 10

__FICO Score__ là đại lượng dùng để đo khả năng tín dụng của một cá nhân hoặc một tập thể. Sử dụng FICO Score, ngân hàng có thể quyết định xem có nên cho khách hàng mượn tiền hay không?

Dataset 24 __(FICO)__ chứa thông tin điểm tín dụng (FICO Score) của một số cá nhân trong vùng.

Sử dụng dữ liệu mẫu từ, bạn hãy cho biết ý kiến: __"điểm tín dụng trung bình của quần thể là 678"__ là đúng hay sai với mức ý nghĩa 5%

In [58]:
data24 = pd.read_excel('./data2/24_FICO.xls', names=['FICO_Score'], header=None)
data24.head()

   FICO_Score
0         708
1         713
2         781
3         809
4         797

In [60]:
mu = 678
alpha = 0.05

# Số lượng tổng thể
total = data24['FICO_Score'].count()
print('Số lượng tổng thể:', total)

# Giá trị trung bình FICO Score
mean = data24['FICO_Score'].mean().round(2)
print('Giá trị trung bình FICO Score:', mean)

# Độ lệch chuẩn
std = data24['FICO_Score'].std().round(2)
print('Độ lệch chuẩn:', std)

# Giá trị tới hạn để xác định miền bác bỏ
t = st.t.isf(alpha/2, total-1).round(2)
print('Giá trị tới hạn:', t)

# Trị thống kê
tri_thong_ke = ((mean - mu) / (std/np.sqrt(total))).round(2)
print('Trị thống kê:', tri_thong_ke)

Số lượng tổng thể: 100
Giá trị trung bình FICO Score: 703.11
Độ lệch chuẩn: 92.23
Giá trị tới hạn: 1.98
Trị thống kê: 2.72

---